[Unit]
Description=server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi
ExecStart=/home/pi/server.py
Restart=always

[Install]
WantedBy=multi-user.target