<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Finns det en flagga här?</title>
    <style>
	body {
		background-color: #FFF;
	}
	span {
		color: #FFF;
	}
    </style>
</head>
<body>
	<h1>Ja, det finns en flagga här!</h1>
	<p>Tro det eller ej, men det finns faktiskt en flagga på den här sidan! Det går dock inte att se den med blotta ögat!</p>
	<p>Flaggan finns nedanför den här raden</p>
	<span>Nej, du kan inte se flaggan bara genom att markera text, utan du får kolla närmare än så!</span>
	<!-- SSM{kanske_inte_helt_osynlig} -->
	<p>men ovanför den här raden! Lycka till!</p>
</body>
</html>

