<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Den här tabben har en CTF-uppgift</title>
    <style>
        .message {
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3
        }
        nav a {
            color: #828282;
            font-size: 1em;
            margin-left: 50px;
            text-decoration: none;
        }
        .alert {
            padding: 20px;
            margin: 5px;
            color: #970020;
            background-color: #ffd5de;
        }
    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Startsida</a>
        <a href="{{ url_for('register') }}">Registrera</a>
        <a href="{{ url_for('login') }}">Logga in</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
